<div class="navbar bg-danger navbar-dark navbar-expand-sm">
    <div class="container">
        <a href="/" class="navbar-brand">Library Work</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="/books" class="nav-link">Library</a>
            <li class="nav-item">
                <a href="#" class="nav-link">Cart</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Orders</a>
            </li>
            <li class="nav-item">
                <a href="/admin/books" class="nav-link">Admin Books</a>
            </li>
            <li class="nav-item">
                <a href="/admin/categories" class="nav-link">Admin Categories</a>
            </li>
        </ul>
    </div>

</div>