@model BookListViewModel

@{
    var books = Model.books;
    var PageInfo = Model.PageInfo;
}

@section Categories
    {
    @await Component.InvokeAsync("Categories")
}

@if (books.Count == 0)
{
    @await Html.PartialAsync("_nobook")

}
else
{
    <div class="row">
        @foreach (var product in books)
        {
            <div class="col-md-3">
                @await Html.PartialAsync("_book",product)
            </div>
        }
    </div>

    <div class="row">
        <div class="col">
            <nav aria-label="Page navigation example">
                <ul class="pagination">

                    @for (int i = 0; i < PageInfo.TotalPages(); i++)
                    {
                        @if (string.IsNullOrEmpty(PageInfo.CurrentCategory))
                        {
                            <li class="page-item @(PageInfo.CurrentPage==i+1?"active":"")">
                                <a class="page-link" href="/books?page=@(i + 1)">
                                    @(i + 1)
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item @(PageInfo.CurrentPage==i+1?"active":"")">
                                <a class="page-link" href="/books/@PageInfo.CurrentCategory?page=@(i + 1)">
                                    @(i + 1)
                                </a>
                            </li>
                        }
                    }

                </ul>
            </nav>
        </div>
    </div>
}
