@model BookListViewModel

@{
    var books = Model.books;
}

@await Html.PartialAsync("_header")
        <partial name="_search">


@if (books.Count == 0)
{
    @await Html.PartialAsync("_nobook")

}
else
{
    <div class="row">

            @foreach (var product in books)
            {
                <div class="col-md-3">
                    @await Html.PartialAsync("_book",product)
                </div>
            }
    </div>
}
